---
title: Baseline
layout: front
---
<html xmlns="http://www.w3.org/1999/xhtml">

{% include header.html %}

<body>

<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <i class="fa fa-anchor fa-5x" aria-hidden="true"></i>
            <h1><a href="https://github.com/palantir-baseline">baseline</a></h1>
            <span>Developer best practices and the tools to uphold them</span></div>
        <div id="menu">
            <ul>
                <li><a href="/developer-tooling" accesskey="1" title="">Developer Tooling</a></li>
                <li><a href="/best-practices" accesskey="2" title="">Best Practices</a></li>
                <li><a href="/styleguides" accesskey="3" title="">Style Guides</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="wrapper3">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>Developer Tooling</h2>
            <span class="byline">Gradle tooling for application development</span>
        </div>

        <p>A collection of plugins and tools. Samples listed below.</p>

        <div id="dev-tooling-button-wrapper">
            <a href="https://github.com/palantir-baseline" class="button button-small">Developer Tooling</a>
        </div>
    </div>
</div>

<div id="wrapper1">
    <div id="welcome" class="container">
        <div class="title">
            <h2>Guides</h2>
            <span class="byline">Coding guidelines and best practices</span></div>
        <div class="content">
            <p>Our style guides and thoughtfully assembled best practices for software development.</p>
            <a href="https://github.com/palantir-baseline/styleguides" class="button">Style Guides</a>
            <a href="https://github.com/palantir-baseline/best-practices" class="button">Best Practices</a>
        </div>
    </div>
</div>

{% include footer.html %}

</body>
</html>
