<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="/assets/css/default.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/css/fonts.css" rel="stylesheet" type="text/css" media="all"/>

    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css"/><![endif]-->

</head>
<body>

<div id="content-page-header-wrapper">

    <span id="content-page-logo">
        <i class="fa fa-anchor fa-2x" aria-hidden="true"></i>
    </span>
    <span id="content-page-title"> baseline </span>

</div>

<div id="subpage-content-wrapper">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>{{ page.title }}</h2>
            <span class="byline">{{ page.tagline }}</span>
        </div>

        {{ content }}

    </div>
</div>

<div id="copyright">
    <p> By <a href="https://www.palantir.com/">Palantir</a></p>
</div>

</body>
</html>
