<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
{% include header.html %}
<body>

<div id="content-page-header-wrapper">

    <span id="content-page-logo"> <i class="fa fa-anchor fa-2x" aria-hidden="true"></i> </span>
    <span id="content-page-title"> <a href="/"> baseline </a> </span>

</div>

<div id="subpage-content-wrapper">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>{{ page.title }}</h2>
            <span class="byline">{{ page.tagline }}</span>
        </div>

        {{ content }}

    </div>
</div>

{% include footer.html %}

</body>
</html>
